<div class="container mt-5">
    <h2 class="text-center">Edit {{food.food_name}}</h2>
    <div class="row flex justify-content-center">
        <form class="col-6 edit-food-form">

            <div class="divider"></div>

            <div class="row">
                <!-- Dish Name -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="dishTitle" class="form-label semibold">Dish Name</label>
                        <input type="text" class="form-control" id="dishTitle" aria-describedby="dishTitle" value="{{food.food_name}}"/>
                    </div>
                </div>

                <!-- Image Upload -->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="imgUpload" class="form-label semibold">Upload Image</label>
                        <input type="file" class="form-control" id="dishImg" />
                    </div>
                </div>
            </div>

            <!-- Ingredients -->
            <div class="mb-3">
                <label for="ingredients" class="form-label semibold">Ingredients</label>
                <div class="ingredientsContainer">
                    {{#each food.ingredients}}
                    <input type="text" class="form-control" id="dishIngredients" aria-describedby="dishIngredients" value="{{@key}}. {{this}}">
                    {{/each}}
                </div>
            </div>

            <!-- Instructions -->
            <div class="mb-3">
                <label for="Instructions" class="form-label semibold">Instructions</label>
                <div class="instructionsContainer">
                    {{#each food.instructions}}
                    <input type="text" class="form-control instruction" id="dishInstruction" value="{{this}}"/>
                    {{/each}}
                </div>
            </div>

            <!-- Cook Time -->
            <div class="mb-3">
                <label for="cookTime" class="form-label semibold">Cook Time</label>
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control" style="width: 48px;" id="cookTime"
                        aria-describedby="cookTime" value="{{food.cook_time}}"/>
                    <p class="mb-0 ms-2"><i>in minutes</i></p>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="d-flex justify-content-center">
                <button value="Submit" type="submit" style="width: 50%;" class="btn btn-success">Submit</button>
                {{!-- <button type="submit" style="width: 50%;" class="btn btn-success">Delete Dish</button> --}}
            </div>

        </form>
    </div>
</div>

<script src="/js/editRecipe.js"></script>

