{{!-- {{#each foods as |food|}}
<div>
  <h1>{{food.food_name}}</h1>
  <!--<p>{{food.ingredients}}</p>-->
  {{#each food.ingredients}}
  <p>{{@key}}. {{this}}</p>
  {{/each}}

  {{#each food.instructions}}
  <p>{{@key}}. {{this}}</p>
  {{/each}}
</div>

{{/each}} --}}

<main>
  <div class="left-sidebar">
    {{!-- Sidebar content goes here  --}}
  </div>

  <div class="grid-container">
    <div class="row">
      {{#each recipes as |recipe|}}
      {{> recipe-card}}
      {{/each}}
    </div>
  </div>
  </main>
